<login-register-frame 
mainActionButtonText="Register" 
switchModeButtonText="Login"
[isSubmitPossible]="isSubmitPossible()"
(switchModeButtonClicked)="onSwitchToLoginPageButtonClicked()"
(mainActionButtonClicked)="onRegisterButtonClicked()">

        <mat-form-field class="w-full mb-1">
            <mat-label>Login</mat-label>
            <input [formField]="registerForm.login" matInput>
            <mat-error>{{loginError()}}</mat-error>
            
            
        </mat-form-field>
        <mat-form-field class="w-full mb-1">
            <mat-label>Password</mat-label>
            <input type="password" [formField]="registerForm.password" matInput>
            <mat-error>{{passwordError()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full mb-1">
            <mat-label>Repeat password</mat-label>
            <input type="password" [formField]="registerForm.repeatPassword" matInput>
            <mat-error>{{passwordRepeatError()}}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full mb-1">
            <mat-label>User type</mat-label>
            <mat-select [formField]="registerForm.userType">
                @for (userType of userTypes; track userType.value) {
                <mat-option [value]="userType.value">{{userType.value}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        @if(isHandyman())
        {
            <mat-form-field class="w-full" >
                <mat-label>Handyman type</mat-label>
                <mat-select [formField]="registerForm.handymanType" >
                    @for (handymanType of handymanTypes; track handymanType) {
                    <mat-option [value]="handymanType">{{handymanType}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        }


        

</login-register-frame>
