@import "tailwindcss";
.status-container{
    @apply bg-[var(--mat-sys-surface-container)] 
     xl:w-[25%] w-[100%] sm:w-[80%] md:w-[70%] lg:w-[50%] rounded-[2rem]
    flex flex-col items-center
    p-[2.5rem] py-[4rem] justify-center h-[20rem];
}

.status-icon{
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    color: var(--mat-sys-primary)
}