<div class="flex items-center flex-col">
    <logo class="mb-4"></logo>
    <div class="status-container">
        @if(operationStatus()===OperationStatus.IN_PROGRESS)
        {
            <mat-spinner [diameter]="40"></mat-spinner>
            
        }
        
        <h1 class="mt-5 text-xl"
         >
         {{message()}}
         </h1>

        @if(operationStatus()===OperationStatus.SUCCESS)
        {
            <mat-icon class="mt-5  status-icon" fontIcon="check"></mat-icon>
        }
        @if (operationStatus()===OperationStatus.FAIL) 
        {
            <mat-icon  class="mt-5 status-icon text-primary"  fontIcon="sentiment_very_dissatisfied"></mat-icon>
        }

        @if (operationStatus()!==OperationStatus.IN_PROGRESS) {
            <button matButton="tonal" class="mt-5">Back</button>
        }
    </div>
</div>
